<VirtualHost *:443>
    DocumentRoot "/var/www/html/openhab"
    ServerName oh3.bahay.org
    ServerAlias oh3

    SSLEngine on

    SSLCertificateFile      /etc/ssl/certs/ssl-cert-snakeoil.pem
    SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key

    # Other directives here
    ProxyPass / http://192.168.0.73:8080/
    ProxyPassReverse / http://192.168.0.73:8080/
</VirtualHost>

<VirtualHost *:443>
    DocumentRoot "/var/www/html/openhab"
    ServerName pve.bahay.org
    ServerAlias pve

    SSLEngine on
    SSLCertificateFile      /etc/ssl/certs/ssl-cert-snakeoil.pem
    SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key
    SSLProxyEngine on
    SSLProxyVerify none
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerName off
    SSLProxyCheckPeerExpire off

    RewriteEngine on
    RewriteCond %{HTTP:Connection} Upgrade [NC]
    RewriteCond %{HTTP:Upgrade} websocket [NC]
    RewriteRule /(.*) wss://192.168.0.72:8006/$1  [P,L]

    UseCanonicalPhysicalPort Off
    UseCanonicalName         Off
    ProxyRequests off
    ProxyPreserveHost on
    ProxyPass        /.wellknown !
    ProxyPass / https://192.168.0.72:8006/ flushpackets=On connectiontimeout=300 timeout=300
    ProxyPassReverse / https://192.168.0.73:8006/
    AllowEncodedSlashes NoDecode
    ProxyTimeout     600
</VirtualHost>

<VirtualHost *:80>
    DocumentRoot "/var/www/html/openhab"
    ServerName oh3.bahay.org
    ServerAlias oh3

    # Other directives here
    ProxyPass / http://192.168.0.73:8080/
    ProxyPassReverse / http://192.168.0.73:8080/
</VirtualHost>

<VirtualHost *:80>
    DocumentRoot "/var/www/html/alarm"
    ServerName alarm.bahay.org
    ServerAlias alarm
</VirtualHost>

<VirtualHost *:80>
    DocumentRoot "/var/www/html/zoneminder"
    ServerName zm2.bahay.org
    ServerAlias zm2

    # Other directives here
</VirtualHost>
